
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header li{
    display: inline;
}

header li a{
    color: white;
    text-decoration: none;
}
header .container{
    width: 1366px;
    margin: 0 auto;
    justify-content: space-between;
    color:gray;
    align-items: center;
}

body > header {
    background-color: black;
    padding: 16px 0;
}

.articles{
    display:flex;
    flex-wrap: wrap;
}

.articles article img{
    width: 95%;
}

.articles article {
    width: 30%;
}

section{
    padding: 16px 0;

}

section h2 ,
.articles article{
    margin-bottom: 16px;
}

.articles article a{
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    margin-top: 8px;   
}


.articles article a:hover{
    text-decoration: underline;
}

.articles article p,
.articles article a{
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px;
}
section h2{
    font-size: 32px;
}

#sports{
    background-color: rgba(0,255, 0, 0.1);
}

#movies{
    background-color: rgba(255,0, 255, 0.4);
}

#economy {
    
    background-color: rgba(255, 255, 0, 0.589);
}

#music{
    background-color: rgba(107, 97, 102, 0.481);
}

#voltar a{
    position: relative;
    text-transform: uppercase;
    text-decoration-line: none;
    font-size: 12px;
    bottom: 0%;
    left: 65%;
    text-align: left;
}

.rodape{
    background-color: black;
    color: white;
    text-align: center;
}